Steps"
1. importing libararies and loading dataset
2. splitting the dataset and standardizing it
3. apply LDA
4. run the model 
5. get missclassifiedd report

Step 1

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from matplotlib import style
%matplotlib inline

In [2]:
df=pd.read_csv(r"C:\Users\Aaditya\Desktop\Intellipaat\Jupyter_Notebook_Directory\dataset\customer_churn-5.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.drop("customerID",axis=1,inplace=True)

In [4]:
#Label Encoding 
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for col in df.columns:
    if(df[col].dtype=="object"):
        df[col]=encoder.fit_transform(df[col])
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,2505,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1466,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,157,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1400,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,925,1

In [5]:
#split into x and y
x=df.drop("Churn",axis=1)
y=df["Churn"]
x.shape,y.shape

((7043, 19), (7043,))

In [6]:
#Standardize the data to make all variable contribute equally
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_std=scaler.fit_transform(x)

Step 2

In [7]:
#Test_Train_Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_std,y,test_size=0.3,random_state=42)

Step 3

In [8]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis(n_components=1)
x_train=lda.fit_transform(x_train,y_train)
x_test=lda.transform(x_test)

In [14]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)
model.fit(x_train,y_train)
train_score=model.score(x_train,y_train)
print("Training Score : ",train_score)

Training Score :  0.9983772819472616

In [15]:
from sklearn.metrics import accuracy_score,confusion_matrix
#Test Score or Prediction Score
y_pred=model.predict(x_test)
test_score=accuracy_score(y_test,y_pred)
print("Test Score : ",test_score)

Test Score :  0.7406530998580217

In [16]:
#Training score and testing score diffrence
print("variation : ",train_score-test_score)

variation :  0.25772418208923986

In [21]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
train_score=xgb.score(x_train,y_train)
print("Training Score : ",train_score)

Training Score :  0.8320486815415822

In [22]:
y_pred=xgb.predict(x_test)
test_score=accuracy_score(y_test,y_pred)
print("Test Score : ",test_score)

Test Score :  0.7993374349266446

In [23]:
#Training score and testing score diffrence
print("variation : ",train_score-test_score)

variation :  0.03271124661493763